{% extends "homepage.html" %}

{% block Titulo %}

    Criar Conta = FakePrinterest
    {% endblock %}

{% block formulario %}
    <form method="POST">
        {{ form.csrf_token }}

        {{ form.email.label() }}
        {{ form.email() }}

        {{ form.userName.label() }}
        {{ form.senha() }}

        {{ form.senha.label() }}
        {{ form.senha() }}

        {{ form.confirmacaoSenha.label() }}
        {{ form.confirmacaoSenha() }}

        {{ form.botaoConfirmacao() }}
        
    </form>

{% endblock %}